hr { color: #000000}
body, table, .rvts0 /* Normal text */
{
 font-size: 10pt;
 font-family: 'Arial', 'Helvetica', sans-serif;
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
.rvts1 /* Heading */
{
 font-weight: bold;
 color: #0000ff;
}
.rvts2 /* Subheading */
{
 font-weight: bold;
 color: #ff0000;
}
.rvts3 /* Keywords */
{
 font-style: italic;
 color: #800000;
}
.rvts4
{
 font-size: 11pt;
 font-family: 'Calibri';
}
.rvts5
{
 font-size: 11pt;
 font-family: 'Calibri';
}
.rvts6
{
 font-size: 11pt;
 font-family: 'Calibri';
}
.rvts7
{
 font-size: 11pt;
 font-family: 'Calibri';
}
p,ul,ol /* Paragraph Style */
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps1 /* Centered */
{
 text-align: center;
}
.rvps2
{
 text-indent: 24px;
}
/* ========== Lists ========== */
.list0 {text-indent: 0px; padding: 0; margin: 0 0 0 0px; list-style-position: inside; list-style-type: disc;}
